@use "../../PagesContent/MainContent/MainContent.module.scss" as background;

.root{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;

    .typeBlock{
        @include background.backgroundForAdditionalChild;
        width: 32%;
        height: 100%;
    }
}