@use "../index.scss" as bgAndFg;

.root{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    .upperWrapper{
        width: 100%;
        height: 8vh;
    }

    .lowerWrapper {
        width: 100%;
        height: 92vh;
    }
}

[data-theme="true"] {
    @include bgAndFg.dark_theme;
}

[data-theme="false"] {
    @include bgAndFg.light_theme;
}