@keyframes spin {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

.loading-root{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;

    .loading-spinner{
        animation: spin 4s linear infinite;
    }

    &-text-wrapper{
        font-size: 28px;
        font-weight: 600;
    }
}

